/* style.css */

/* Importation de la police Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Définition des variables globales pour les couleurs */
:root {
  --color-text-white: #ffffff;
  --color-text-ligth-gray: #a7a7a7;

  --color-background-gray: #1d1d1d;
  --color-background-black: #0d0d0d;

  --color-secondary-blue: #353cfd;
  --color-secondary-dark-blue: #121afd;
}

/* Reset général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-background-gray);
  color: var(--color-text-white);
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  padding-bottom: 0.75rem;
}

h2 {
  padding-bottom: 0.25em;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-weight: 400;
  font-size: 0.875rem;
}

a {
  font-size: 0.875rem;
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary-white);
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 4rem;
  width: 100%;
}

.helium-logo span {
  font-size: 1.25rem;
  font-weight: 600;
}

.helium-logo {
  transition: transform 0.2s ease;
}

.helium-logo:hover {
  transform: scale(1.05);
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  position: relative;
  transition: all 0.2s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-text-ligth-gray);
  transform: scale(1.01);
}

/* After: barre sous les liens dynamique */

.nav-link::after {
  content: ""; /* Crée une ligne vide */
  position: absolute;
  bottom: -5px; /* Place la ligne en bas */
  left: 0;
  width: 0; /* Ligne invisible au départ */
  height: 2px; /* Épaisseur de la ligne */
  background-color: var(--color-text-ligth-gray); /* Couleur de la ligne */
  transition: width 0.3s ease; /* Transition fluide */
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link:active::after {
  width: 100%; /* La ligne s'étend sur tout le lien */
}

.hero {
  display: flex;
  padding: 0 1.5rem 3rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero-text h1 {
  font-size: 5rem;
  line-height: 1.2;
}

.hero-text h2 {
  font-size: 1.75rem;
  color: var(--color-secondary-blue);
}

.hero img {
  max-width: 50%;
  display: block;
}

.footer_container {
  display: flex;
  background: var(--color-background-black);
  padding: 1rem;
  margin: 0 0.5rem 1.5em;
  border-radius: 0.75rem;
  gap: 6rem;
}

.core-technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  gap: 0.875rem;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  font-weight: 600;
  background: var(--color-secondary-blue);
  text-align: center;
  letter-spacing: 0.063rem;
  border-radius: 0.75rem;
  padding: 0.5rem;
  width: 50%;
  transition: all 0.2s ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-secondary-dark-blue);
  transform: scale(1.01);
}

.our-investors {
  display: flex;
  flex-direction: column;
  width: 67%;
  gap: 3rem;
}

.our-investors h3 {
  padding: 0;
}

.logos-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.logos-container a img {
  display: block;
  transition: transform 0.2s ease;
}

.logos-container a img:hover,
.logos-container a img:focus {
  transform: scale(1.05);
}

#gv-logo {
  max-width: 4rem;
}
#firstmark-logo {
  max-width: 9rem;
}
#khosla-ventures-logo {
  max-width: 6rem;
}

.mobile-copyright {
  display: none;
}

.desktop-copyright {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.desktop-copyright a {
  font-size: 0.75rem;
  transition: color 0.2s ease;
  text-decoration: underline;
}

.desktop-copyright a:hover,
.desktop-copyright a:focus {
  color: var(--color-text-ligth-gray);
}
